* {margin: 0;padding: 0;}
.fs-12px {font-size: 12px!important;}
.fs-13px {font-size: 13px;}
.fs-14px {font-size: 14px;}
.fs-16px {
  font-size: 16px;
  /*px*/
}
.fs-18px {
  font-size: 18px;
  /*px*/
}
.fs-20px {
  font-size: 20px;
  /*px*/
}
.fs-22px {
  font-size: 22px;
  /*px*/
}
.fs-24px {
  font-size: 24px;
  /*px*/
}
.fs-26px {
  font-size: 26px;
  /*px*/
}
.fs-28px {
  font-size: 28px;
  /*px*/
}
.fs-30px {
  font-size: 30px;
}
.fs-34px {
  font-size: 34px;
}
.fs-36px {
  font-size: 36px;
}
.mt-18px {margin-top: 18px;}
.ml-60px {margin-left: 80px;}
.p-20px {padding: 20px;}
.px-20px {padding-left: 20px;padding-right: 20px;}
.py-20px {padding-top: 20px;padding-bottom: 20px;}
.pt-10px {padding-top: 10px;}
.center {text-align: center;}
.left {float: left;}
.right {float: right;}
.flex { display: flex; }
.justify-between { justify-content: space-between;}
.justify-around { justify-content: space-around;}
.justify-center { justify-content: center;}
.items-center {align-items: center;}

.c-fff {color: #ffffff;}
.c-000 {color: #000000;}
.c-40 {color: #404040;}
.bg-fff { background: #ffffff;}
.bg-f2 { background-color: #f2f2f2;}
.gray-block {height: 14px;}
html {
  font-size: 12px !important;
}
body {
    line-height: 1 !important;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
.page-title {
    font-size:48px;
}
.rect {
    font-size: 24px;
    color: #767676;
}
.rect::after {
    margin-top: 10px;
    content: '';
    display: block;
    width:30px;
    height:4px;
    font-size: 20px;
    background:rgba(79,157,241,1);
}